<div class="col-12">
    <h1>Lo sentimos, el horario elegido en la fecha que ha seleccionado está actualmente reservado. Por favor, elija
        otra hora o fecha para su cita.</h1>
    Disculpe las molestias.
</div>