<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleDark" data-bs-slide-to="0"></li>
    <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2" class="active"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="./images/gym.jpg" class="d-block w-100" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h5>Atrévete a entrenar con nosotros</h5>
        <p>Vive una experiencia diferente y definitiva en el mundo del deporte</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="./images/gym1.jpg" class="d-block w-100" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h5>Tu mejor versión</h5>
        <p>Atención personalizada en base a tus metas y tus necesidades</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./images/gym2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Élite en el entrenamiento personal</h5>
        <p>Gracias a los testimonios de nuestros deportistas, demostramos que estamos en la élite este ámbito</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>


<!-- ======= About Section ======= -->
<div id="about" class="about-area area-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">
          <h2>Sobre SS Training</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-none d-lg-block offset-lg-1 col-lg-4 col-xl-3 pt-lg-4">
        <div class="well-left">
          <div class="single-well">
            <img src="/images/gym7.jpg" alt="Logo" class="img-fluid">
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-7 col-xl-8 text-xs-center text-lg-left pt-lg-5 pb-lg-5">
        <div class="well-middle">
          <div class="single-well">
            <a href="#">
              <h3 class="sec-head">¿Quiénes somos?</h3>
            </a>
            <p>
              Somos un estudio privado de entrenamiento personal en Madrid que ayuda a personas ocupadas a dejar de
              "intentar ponerse en forma" y finalmente lograr una transformación de salud y cuerpo de la que no se
              recuperarán.
              Trabajamos con hombres y mujeres que han dejado que el fitness se deslice hacia abajo en su lista de
              prioridades y quieren hacer un cambio.
            </p>
            <p>
              Con nuestra fórmula de transformación "San-Val", lo guiaremos a través de nuestro sistema probado para
              crear una versión más saludable, feliz y segura de sí mismo en las próximas 6 semanas, sin entrenamientos
              aburridos ni dietas de moda.
            </p>
            <ul>
              <li>
                <i class="fa fa-check"></i> Estamos en constante actualización con las nuevas tecnologías y tendencias
                de entrenamiento.
              </li>
              <li>
                <i class="fa fa-check"></i> Utilizamos metodologías personalizadas para cada uno de nuestros
                deportistas.
              </li>
              <li>
                <i class="fa fa-check"></i> En solo 42 días lo llevaremos de sentirse frustrado con su trayectoria
                actual, a sentirse orgulloso de su relación revitalizada con su salud.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End col-->
    </div>
  </div>
</div><!-- End About Section -->